body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  nav {
    background-color: #444;
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #333;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"],
  button a{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover,
  button a:hover {
    background-color: #0056b3;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid #ccc;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }

  .hidden {
    display: none !important;
  }

  #next-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #next-date {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  #add-date {
    position: relative;
    z-index: 2;
  }

  .invert {
    filter: invert(1);
  }
